<!doctype html>
<html lang="<%= langcode_iso %>">
	<head>
		<!-- Metadata -->
		<title><%= name %></title>
		
		<meta name="description" content="<%= description %>">
		<% if(robots) { %>
			<meta name="robots" content="index,follow">
		<% } else { %>
			<meta name="robots" content="noindex,nofollow">
		<% } %>
		
		<% if(viewport_show) { %>
			<% if(viewport_scalable) { %>
				<meta name="viewport" content="width=device-width, initial-scale=1">
			<% } else { %>
				<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
			<% } %>
		<% } %>

		<!-- Style sheets -->
		<link rel="stylesheet" type="text/css" href="">

		<!-- Facebook OpenGraph tags -->
		
	</head>
	<body>
		
		<!-- Script tags -->
			<!-- Dev -->
			<script type="text/javascript" src=""></script>

			<!-- Production -->
			<script type="text/javascript" src=""></script>
	</body>
</html>